/* Estilo para o banner do painel administrativo */
.container-admin-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0 20px; /* Margem superior 80px, margem inferior 20px, sem margem nos lados */
}

/* Estilo para a logo no painel administrativo */
.logo-admin {
    width: 400px; /* Largura fixa para a logo */
}

/* Estilo para cabeçalhos de segundo nível (h2) */
h2 {
    font-size: 24px;
}

/* Estilo para o container da tabela */
.container-table {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Estilo para a tabela principal */
table {
    width: 90%;
    margin: auto 0; /* Margem automática no topo e na base, sem margem nos lados */
}
table, th, td {
    border: 1px solid #EBC181; /* Borda para a tabela, células de cabeçalho e células de dados */
}

/* Estilo para as células de cabeçalho da tabela */
table th {
    background-color: #EBC181;
    color: #333B1E;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    padding: 8px; /* Preenchimento interno */
}

/* Estilo para as linhas da tabela */
table tr {
    border: 1px solid #ddd;
}

/* Estilo para as células de dados da tabela */
table td {
    color: #FFF;
    font-size: 18px;
    padding: 8px; /* Preenchimento interno */
}

/* Estilo para o cabeçalho h1 dentro do container-admin-banner */
.container-admin-banner h1 {
    margin-top: 40px;
    font-size: 30px;
    color: #EBC181;
}

/* Estilo para o container de lista de produtos */
.container-lista-produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 0; /* Margem automática no topo e na base, sem margem nos lados */
}

/* Estilo para o container de cada item na lista */
.container-lista {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid #EBC181 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 3px 0; /* Margem superior 3px, sem margem inferior, sem margem nos lados */
}

/* Estilo para o cabeçalho h3 dentro do container-lista */
.container-lista h3 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

/* Estilo para links, botão de cadastro e botão de exclusão */
table tbody tr td a, .botao-cadastrar, .botao-excluir {
    padding: 3px 10px;
    border-radius: 10px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 5px;
    transition: 0.7s;
    border: none;
    font-size: 18px;
}

/* Efeito de hover para links, botão de cadastro e botão de exclusão */
table tbody tr td a:hover, .botao-cadastrar:hover, .botao-excluir:hover {
    cursor: pointer;
    filter: saturate(150%);
}

/* Estilo para o botão de cadastro */
.botao-cadastrar {
    background: #EBC181;
    color: #333B1E;
    font-weight: 600;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 10px;
    border: none;
}

/* Estilo para o botão de edição */
.botao-editar {
    background: #9B8357;
}

/* Estilo para o botão de exclusão */
.botao-excluir {
    background: crimson;
}
