/* Estilo para o formulário */
form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

/* Estilo para o container do formulário */
.container-form {
    display: flex;
    justify-content: center;
}

/* Estilo para o container dos elementos radio */
.container-radio {
    display: flex;
}

/* Estilo para os elementos dentro do container-radio */
.container-radio div {
    padding: 10px;
}

/* Estilo para as etiquetas dentro do formulário */
form label {
    color: #EBC181;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilo para os campos de entrada dentro do formulário */
form input {
    border-radius: 10px;
    border: 3px solid #333B1E;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}

/* Estilo específico para campos de tipo 'file' dentro do formulário */
form input[type='file'] {
    color: #FFFFFF;
}

/* Estilo para o botão de seleção de arquivo dentro do formulário */
form input::file-selector-button {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

/* Estilo para o foco nos campos de entrada dentro do formulário */
form input:focus {
    border: 3px solid #EBC181;
    outline: none;
}
