/* Estilo para a classe .logo */
.logo {
    width: 500px; /* Largura fixa para a logo */
}

/* Estilo para o corpo do documento */
body {
    background-color: #333B1E; /* Cor de fundo do corpo */
    font-family: 'Barlow', sans-serif; /* Família de fontes para o corpo do documento */
}

/* Estilo para a seção principal (main) */
main {
    height: 100vh; /* Altura de 100% da altura da viewport (visualização) */
}

/* Estilo para o container do banner */
.container-banner {
    width: 100%;
    height: 80%;
    background-image: url("../img/banner-site.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo para o container de texto do banner */
.container-texto-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

/* Estilo para cabeçalhos e parágrafos dentro do container-banner */
.container-banner h1, p {
    color: #FFFFFF; /* Cor do texto */
}

/* Estilo para cabeçalho h2 */
h2 {
    text-align: center;
    font-size: 48px;
    margin: 20px 0; /* Margem superior e inferior de 20px, sem margem nos lados */
    color: #FFF; /* Cor do texto */
    font-weight: bold; /* Peso da fonte em negrito */
}

/* Estilo para os containers de café da manhã e almoço */
.container-cafe-manha, .container-almoco {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Estilo para os títulos dos containers de café da manhã e almoço */
.container-cafe-manha-titulo, .container-almoco-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para os títulos h3 dos containers de café da manhã e almoço */
.container-cafe-manha-titulo h3, .container-almoco-titulo h3 {
    font-size: 32px;
    color: #EBC181; /* Cor específica para os títulos */
    text-align: center;
    margin: 15px 0 5px;
}

/* Estilo para os containers de produtos de café da manhã e almoço */
.container-cafe-manha-produtos, .container-almoco-produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Estilo para os containers de produtos */
.container-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid #EBC181 2px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    height: auto;
}

/* Estilo para as imagens dentro dos containers de produtos */
.container-produto img {
    width: 350px;
    height: 270px;
    object-fit: cover;
}

/* Estilo para os parágrafos dentro dos containers de produtos */
.container-produto p {
    margin: 10px 0;
    text-align: center;
}

/* Estilo para o quarto parágrafo dentro dos containers de produtos */
.container-produto p:nth-child(4) {
    color: #9B8357; /* Cor específica para o quarto parágrafo */
    font-size: 18px;
    font-weight: 600;
}

/* Estilo para o segundo parágrafo dentro dos containers de produtos */
.container-produto p:nth-child(2) {
    font-weight: bold;
    font-size: 20px;
}

/* Estilo para a classe .ornaments */
.ornaments {
    width: 200px; /* Largura fixa para a classe .ornaments */
}
